UNAM/Semestre 3/Líneal 2/Tarea_3.aux
UNAM/Semestre 3/Líneal 2/Tarea_3.fdb_latexmk
UNAM/Semestre 3/Líneal 2/Tarea_3.fls
UNAM/Semestre 3/Líneal 2/Tarea_3.log
UNAM/Semestre 3/Líneal 2/Tarea_3.out
UNAM/Semestre 3/Líneal 2/Tarea_3.synctex.gz
UNAM/Semestre 3/Líneal 2/tarea_4.aux
UNAM/Semestre 3/Líneal 2/tarea_4.fdb_latexmk
UNAM/Semestre 3/Líneal 2/tarea_4.fls
UNAM/Semestre 3/Líneal 2/tarea_4.log
UNAM/Semestre 3/Líneal 2/tarea_4.out
UNAM/Semestre 3/Líneal 2/tarea_4.pdf
UNAM/Semestre 3/Líneal 2/tarea_4.synctex.gz
