UNAM/Semestre 3/Líneal 2/Tarea_3.aux
UNAM/Semestre 3/Líneal 2/Tarea_3.fdb_latexmk
UNAM/Semestre 3/Líneal 2/Tarea_3.fls
UNAM/Semestre 3/Líneal 2/Tarea_3.log
UNAM/Semestre 3/Líneal 2/Tarea_3.out
UNAM/Semestre 3/Líneal 2/Tarea_3.synctex.gz
UNAM/Semestre 3/Líneal 2/tarea_4.aux
UNAM/Semestre 3/Líneal 2/tarea_4.fdb_latexmk
UNAM/Semestre 3/Líneal 2/tarea_4.fls
UNAM/Semestre 3/Líneal 2/tarea_4.log
UNAM/Semestre 3/Líneal 2/tarea_4.out
UNAM/Semestre 3/Líneal 2/tarea_4.pdf
UNAM/Semestre 3/Líneal 2/tarea_4.synctex.gz
captura de pantalla (760).png
captura de pantalla (761).png
captura de pantalla (762).png
captura de pantalla (763).png
captura de pantalla (784).png
latex 
logo_UNAM.png
unam_bn.png
Logo_FC.png
Escudo_FC_bn.png
Desargues.png
desargues.jpeg
logo_cinves.png
logo_pie.jpg
.gitignore